
<div id="slidorion" >


  <div id="slider">

        <%for article in @user_articles_images %>


            <% if !article[:image].nil? %>

                    <div id="slide<%= @count%>" class="slide">

                      <%= link_to image_tag(article[:image], :alt => "home image", :width => 488, :height => 400), {:controller=>"site", :action => :article_detail,:article_info=>article[:article][:id]} %>

                    </div>

                <% @count = @count+1 %>

            <%else%>

                    <div id="slide<%= @count%>" class="slide">

                      <%= link_to image_tag("spiderman.jpg", :alt => "home image", :width => 488, :height => 400) %>

                    </div>
                <% @count = @count+1 %>
            <%end%>


        <% end %>
   </div>

    <div style="height: 500px;overflow: scroll; width: 350px; height: 410px;">

      <div id="accordion">

        <%for article in @user_articles_images %>


            <div class="link-header"><%=article[:title] %>  (Author: <%=article[:owner] %> ) </br> Created at  <%= article[:created_at] %></div>
            <div class="link-content">
              <%=raw article[:content] %>
            </div>

        <%end%>

      </div>

    </div>


  </div>





<%= render :partial => 'partials/site/content' -%>


<script type="text/javascript">
    $(function() {
        $('#slidorion').slidorion({
            interval: 8000,
            effect: 'slideRandom'
        });
    });
</script>




