<style>

  .slder_header_title{


      border-radius: 30px;
      border:1px solid #fafafa;
      -webkit-box-shadow:0 0 12px #bbb;
      -moz-box-shadow:0 0 10px #bbb;
      box-shadow:0 0 10px #bbb;
      outline: none;
      background-color: #ffebcd; width: 1000px; position: relative; left: 0px; font-family:Lucida Console;
  }


</style>



<div>


    <div id="slidorion" >

      <div class="slder_header_title" >

        <p style="font-weight: bold; color: #000000f;position: relative;left: 250px;">The most popular projects. Click image to see the detail</p>


      </div>


      <div id="slider">

            <%for article in @user_articles_images %>


                <% if !article[:image].nil? %>

                        <div id="slide<%= @count%>" class="slide">

                          <%= link_to image_tag(article[:image], :alt => "home image", :width => 600, :height => 400), {:controller=>"site", :action => :article_detail,:article_info=>article[:article][:id]} %>

                        </div>

                    <% @count = @count+1 %>

                <%else%>

                        <div id="slide<%= @count%>" class="slide">

                          <%= link_to image_tag("spiderman.jpg", :alt => "home image", :width => 600, :height => 400) %>

                        </div>
                    <% @count = @count+1 %>
                <%end%>


            <% end %>
       </div>

        <div style="height: 280px; width: 400px; overflow: scroll;">

          <div id="accordion">

            <%for article in @user_articles_images %>


                <div class="link-header"><%=article[:title] %>  (Author: <%=article[:owner] %> ) </br> Created at  <%= article[:created_at] %></div>
                <div class="link-content">
                  <%=raw article[:content] %>
                </div>

            <%end%>

          </div>

        </div>


      </div>



</div>

<%= render :partial => 'partials/site/content' -%>


<script type="text/javascript">
    $(function() {
        $('#slidorion').slidorion({
            interval: 8000,
            effect: 'slideRandom'
        });
    });
</script>




